.textwidget {
  text-align: justify;
}
.color-custom .h2 nav.mainmenu li.menu-item.mi-depth-0.current-menu-item > .submenu-trigger{
	color:#ccc !important;
}
.color-custom .h2 nav.mainmenu li.menu-item.mi-depth-0.current-menu-ancestor > .submenu-trigger, .color-custom .h2 nav.mainmenu li.page_item.pi_depth_0.current_page_ancestor > .submenu-trigger, .color-custom .h2 nav.mainmenu li.menu-item.mi-depth-0.current-menu-item > .submenu-trigger, .color-custom .h2 nav.mainmenu li.page_item.pi_depth_0.current_page_item > .submenu-trigger{
  color:#ccc !important;
}
.color-custom a:hover{
	color:#eee !important;
}
#menu-header-menu li:hover *{
	color:#eee;
}
.content {
  position: relative;
  clear: both;
  margin: 0 auto;
  padding: 0px 0 48px !important;
  z-index: 1;
}
.wp-image-57 {
  float: center;
  position: relative;
  margin-left: 22.5%;
}
.main.single{
	padding-top:0px !important;
}
body{
    background: #fff;
}

.main{
  float:center !important;
  margin: auto !important;
}

.full-width-bg.hp-intro{
	margin-bottom: -75px !important; 
  	border-top:0px !important;
}

.col.col4 h4{
	color: #999;
}
.col.col4 p{
  	margin:0px !important;
	color:#222;
}
.col.col2 h3{
	color:#55acee !important;
  	text-decoration: underline;
}
.col.col2 p{
  	margin: 0px !important;
	color:#222;
}
.checklist.tick3 li{
	color: #222;
  	font-style: italic;
}
.content .col img.logo{
	max-width:220px;
}
.col.col6{
	margin-top:20px;
}
.col.col6 a:first-child{
	margin-left:0;
}
.columns.center.no-top-margin.custom-bottom-margin{
	background-color: rgba(240,240,240,0.7);
    border-radius: 5px;
}
.main.postlist.postlist-blog.no-comment{
  background-color: rgba(240,240,240,1);
    border-radius: 5px;
  margin-top:40px !important;
  padding-left: 15px !important;
}
/*article.page p {
  background-color: rgba(200,200,200,0.7);
  border-radius: 5px;
  margin: 10px !important;
  padding: 15px !important;
}*/
p{
  color:#222;
}
.content.wide p{
  margin: 45px 45px 0px 45px;
}
/*Ver si optimizo esto para pantallas tochas*/
/*.content a img, footer a img {
  position: relative;
  float: center;
  margin: auto;
  left: 25%;
  border-radius: 7px;
}*/
/*.content iframe.demo.corner{
  position: relative;
  float: left;
  margin: auto;
  margin-right: 20px;
  left: 25%;
}*/
.democorner p{
  position: relative;
  float:center;
  text-align:center;
  color:#FFA500 !important;
  font-size:18px;
}
.democorner iframe {
  position: relative;
  float: center;
  display: block;
}
.democorner img {
  position: relative;
  float: left;
  margin-left:25.5%;
  margin-right:50px;
  display: block;
}
.page ul li em{
	color:#000;
}
section.main .page p{
	margin-top:40px;
}
article div h2 a{
  color:#777;
}
.post p a{
	color: #b00 !important;
}
.content p b u{
  font-weight: 700;
  font-size: 17px;
  margin-left:-20px;
  margin-bottom:10px;
  color:#FFA500 !important;
}
.demo.videos{
  position: relative !important;
  display:inline !important;
  float: center !important;
  left:0 !important;
}

article.page h3{
  color:#FFA500 !important;
}
.main a:hover{
  color:#FFA500 !important;
}
.publicity a:hover{
  color:#FFA500 !important;
}
p a:hover{
  color:#FFA500 !important;
}
h2{
  color: #777 !important;
}
.img.pdf{
  left:0;
}
.publicity.material{
  position: relative;
  float:left;
  left:25%;
  color:#55acee;
  margin-top:20px;
  margin-bottom:40px;
}
.publicity.material p:first-child{
  margin-top:0 !important;
}
.content ul{
  margin-left:4% !important;
  margin-right:4% !important;
}
.content ul.tp-revslider-mainul{
  margin-left:0 !important;
  margin-right:0 !important;
}
.content ul li{
  color: #000;
}
.content ul li a{
  font-style: italic; 
  color: #b00;
}
a{
    transition:color 0.4s ease;
}
.content ul li a:hover{
  font-style: italic; 
  color:#FFA500 !important;
}
.content ul li div{
  color: #444;
}
table{
  margin-left:4% !important;
  margin-right:6% !important;
  width:90%;
}
tr td:first-child{
  color: #F55000 !important;
}
tr td{
  color: #444;
}
.ruch3{
  margin-top:5px;
  margin-left:5px;
  color: #555 !important;
}
.forms{
  background-color: rgba(200,200,200,0.2);
  margin-left:4%;
  margin-right:6%;
  padding-top:1px;
  padding-bottom:10px;
  border-radius:7px;
}
#consultancy{
  margin-bottom: -50px !important;
}
#imgfraun{
  background-color: rgba(240,240,240,0.7);
  border-radius:5px;
  padding:5px;
  margin-bottom: -40px;
}
#consimages a img{
  left:0 !important;
  margin-bottom:-50px;
}
img#imgconsortium {
  position: relative;
  margin-left: 25%;
  border-radius: 5px;
}
#homep p{
  text-align:justify;
}
/* DELIVERABLES prueba a borrar */
.tablecontainer {
  margin-left: 17.5%;
}

.tituloWP{
  width:600px;
  background: url(image/bgWP.png) repeat-x top ;
  padding:10px 20px;
  margin-top:15px;
  clear:both;
}

.bloqueDeliverable {
  width:100%;
}

.bgTituloDeliverable {
  width:640px;
  /*background: url(image/bgTitlesDeliverables.png) repeat;*/
  color: #08445c;
  /*font-weight: bold;*/
  font-size: 0.85em;
  height:22px;
  clear:both;
}
.Col1{
  width:80px;
  float:left;
}
.Col1 img{
  height:15px;
  margin-top:2px;
}
.Col2 {
  width: 320px;
  float:left;
}
.Col2 a {
  font-weight: bold;
}
.Col3{
  width:110px;
  float:left;
  text-align:center;
  }
.Col4{
  width:122px;
  float:left;
  text-align: center;
}
.Col4 img {
  float: right;
}

.deliverable{
  padding: 3px 0px 5px 0px;
  min-height:20px;
  height:auto;
  vertical-align:text-bottom;
}
.deliverablesList{
  clear:both;
}
.deliverable-par { 
  border-left:1px solid #DCE3EB;
  border-right:1px solid #DCE3EB;
  background: url(image/bgCells.png) repeat-x bottom #D5EDF7;
  padding: 3px 0px 5px 0px;
  height:15px;
}
.deliverableTitle{
  text-align: center;
  /*border-right: white 2px solid;*/
  border-left:1px solid #DCE3EB;
  border-right:1px solid #DCE3EB;
  background: url(image/fade-to-left-bg.jpg) repeat-y lightgray right;
  padding: 5px 0px 2px 0px;
  height:15px;
}
.fullDeliverable {
  clear:both;
  display: none;
}


#ckformcontainer{
  background-color:#fff;
  padding: 0 20px;
}