---
layout: default
---

<div class="home">

  <h1>universAAL Open Platform</h1>
  <p>universAAL is a semantic and distributed software platform. It was designed to ease the development of integrated Ambient Assisted Living (AAL, hence the name) applications. Although universAAL is not limited to AAL, it's power make it suitable for IoT (Internet of Things), wearables, Big Data, and many more domains.</p>
  <p>The semantic nature of universAAL makes it ideal for highly heterogeneous environments. It allows modeling of the world through ontological representation, thus inheriting all its benefits. For example Different devices, from different vendors, will be modeled using the same ontological concepts, thus applications will not see the difference between them.</p>
  <p>Like wise Services are also subjected to semantical modeling offering similar benefits. Different services can implement the same interfaces defined by the ontological model, offering seamless integration regardless of the nature or data of the service.</p>
  <p>universAAL also offers next generation user interaction framework based on ontologies. It features multi-language, multi-modal, ubiquitous, personalizable, and extensible interfaces that are defined in a declarative way. This allows developers to free them selves from accessibility barriers, quickly and easily developing feature rich user interfaces.</p>
  <p>An important property of semantical modeling, is that if for whatever reason two applications do not use the same ontology, the basis for their understanding, a third ontology mapping both of them will make them compatible, no need to redevelop or redeploy. This fact alone makes universAAL the champion of interoperability.</p>
 
  <p> But there is more, universAAL is also a distribution platform. It allows developers, and deployers, full flexibility on to where to deploy their modules. This makes universAAL fit for modern ubiquitous computing connecting local or remote resources (like cloud services).</p>

  <p>universAAL platform is mainly composed of the middleware and managers. The middleware is the core part enabling transparent communication between nodes and modules; as well as offering low level serives like configuration or space, node and module management. Different managers are provided to handle recurring tasks such as storage, profiling, security or remote connectivity.
  
  <h2>universAAL Project</h2>
  <p>The EU-funded project universAAL was the frame where the universAAL Open Platform was funded. The approach was to provide a standardized approach making it technically feasible and economically viable to develop AAL solutions. The project was centered around a consolidation process where many preceding projects like Persona, Mpower, OASIS, amigo, and many more where merged into what universAAL is today. More information is available at <a href="http://universaal.org/">universAAL project page</a>.</p>


</div>
