<footer >
	<section class="widgets columns">
		<article class="widget col col3 widget_text"><h3>About universAAL</h3>			<div class="textwidget">{{ site.description }}</div> </article>
		</article><article class="widget col col3 widget_weblizar_twitter"><h3>Tweets</h3>        
			<div style="display:block;width:100%;float:left;overflow:hidden">
				<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/uAALProject" min-width="" height="160" data-theme="light" data-link-color="#CC0000px" data-widget-id="591198473069920256">Twitter Tweets</a>
				<script>
					!function(d,s,id) {
						var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}
					} (document,"script","twitter-wjs");
				</script>
			</div>
        </article>		
	</section>
	<section class="bottom">
			<p style="color:#fff !important;">© 2015 <a href="http://universaal.com">universAAL</a> | All rights reserved. | Style by - <b>Pablo Fornés Gandia</b></p>			
			<nav class="social social-light social-colored">
				<ul>
					<li><a href="https://www.facebook.com/pages/universAAL/109775759105852" class="facebook" title="Facebook" target="_blank">Facebook</a></li>
					<li><a href="https://twitter.com/uAALProject" class="twitter" title="Twitter" target="_blank">Twitter</a></li>
					<li><a href="https://www.linkedin.com/groups?home=&#038;gid=3696807" class="linkedin" title="LinkedIn" target="_blank">LinkedIn</a></li>
					<li><a href="https://www.youtube.com/user/ProjectuniversAAL" class="youtube" title="Youtube" target="_blank">Youtube</a></li>
					<li><a href="https://github.com/universAAL" class="github" title="Github" target="_blank">Github</a></li>
				</ul>
			</nav>
	</section>
</footer>
