<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
<!-- Section from uAAL page, relativized -->
  <script id="twitter-wjs" src="http://platform.twitter.com/widgets.js"></script>
  <link rel='stylesheet' id='contact-form-7-css'  href='{{ "/css/styles.css" | prepend: site.baseurl }}' type='text/css' media='all' />
  <link rel='stylesheet' id='rs-plugin-settings-css'  href='{{ "/css/settings.css" | prepend: site.baseurl }}' type='text/css' media='all' />
  <style id='rs-plugin-settings-inline-css' type='text/css'>
.tp-caption a{color:#ff7302;text-shadow:none;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out}.tp-caption a:hover{color:#ffa902}.tp-caption a{color:#ff7302;text-shadow:none;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out}.tp-caption a:hover{color:#ffa902}
  </style>
  <!-- <link rel='stylesheet' id='tp-lobster-css'  href='http://fonts.googleapis.com/css?family=http%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster&#038;ver=4.2.2' type='text/css' media='all' /> -->
  <link rel='stylesheet' id='converio-opensans-css'  href='http://fonts.googleapis.com/css?family=Open+Sans%3A300%2C300italic%2C400%2C400italic%2C600%2C600italic%2C700%2C700italic&#038;subset=latin%2Ccyrillic%2Cgreek&#038;ver=4.2.2' type='text/css' media='all' />
  <link rel='stylesheet' id='sccss_style-css'  href='{{ "/css/sccss.css" | prepend: site.baseurl }}' type='text/css' media='all' />
  <link rel='stylesheet' id='main_style-css'  href='{{ "/css/style.css" | prepend: site.baseurl }}' type='text/css' media='all' />
  <link rel='stylesheet' id='headers-css'  href='{{ "/css/headers.css" | prepend: site.baseurl }}' type='text/css' media='all' />
  <link rel='stylesheet' id='revolution-slider-custom-styles-css'  href='{{ "/css/revolution-slider.css" | prepend: site.baseurl }}' type='text/css' media='all' />
  <script type='text/javascript' src='{{ "/js/jquery.js" | prepend: site.baseurl }}'></script>
  <script type='text/javascript' src='{{ "/js/jquery-migrate.min.js" | prepend: site.baseurl }}'></script>
  <script type='text/javascript' src='{{ "/js/jquery.themepunch.tools.min.js" | prepend: site.baseurl }}'></script>
  <script type='text/javascript' src='{{ "/js/jquery.themepunch.revolution.min.js" | prepend: site.baseurl }}'></script>
  <script type='text/javascript' src='{{ "/js/modernizr.js" | prepend: site.baseurl }}'></script>
  <link rel='stylesheet' href='{{ "/css/custom.css" | prepend: site.baseurl }}' type='text/css' media='all' />
<!--[if lt IE 9]>
		<script src="http://uaal.pfornes.es/wp-content/themes/converio/js/html5.js"></script>
		<link rel="stylesheet" type="text/css" href="http://uaal.pfornes.es/wp-content/themes/converio/styles/style-ie.css" media="screen"></script>
	<![endif]-->
<!-- end-->
  
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="icon" type="image/ico" href="/images/favicon.ico">
</head>
