<header class="h2 header-opacity-enabled sticky-enabled menu-animation-enabled hover-delay-enabled sticky-collapse sticky-opacity-enabled" data-sticky-trigger-position="400" data-menu-slidedown-duration="400" data-menu-slideup-duration="500" data-menu-fadein-duration="300" data-menu-fadeout-duration="400">
				        <section class="main-header">
            <div>
				
            <p itemtype="http://schema.org/Organization" itemscope="itemscope" class="title">
            	<a class="logo" href="{{ site.baseurl }}/" itemprop="url">
                	<img alt="universAAL" src="{{ site.baseurl }}/images/uaal1.png" itemprop="logo"/>
				</a>
            </p>
						
			 							
            </div>
            <div class="clear"></div>
        </section>
        <div class="mainmenu-container">
            <nav class="mainmenu menu-container">
                <button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target="nav.mainmenu > ul">Menu</button>
		<div class="mobile-group">
                    <ul class="mobile-nav dropdown-on-hover-enabled"></ul>
<!--		    <div class="search-box">
						<form method="get" action="http://uaal.pfornes.es">
							<input type="text" value="Type your keywords" onFocus="if (this.value == 'Type your keywords') this.value = '';" onBlur="if (this.value == '') this.value = 'Type your keywords';" name="s">
						</form>
		    </div>					
-->					
                </div>
                <!-- apply current-menu-item when necessary -->
				<ul id="menu-header-menu" class="menu">
				<li class="menu-item menu-item-type-post_type menu-item-object-page page_item current_page_item mi-depth-0 mi-without-description"><a href="{{ site.baseurl }}/" class="submenu-trigger"><span class="mi-title-wrapper"><span class="mi-title">Home</span></span></a></li>
				{% for c in site.collections %}{% if c[1].title %}
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children mi-depth-0 mi-without-description dropdownmenu dropdownmenu-default parent {% if page.collection == c[0]%}current-menu-item{% endif%}"><a href="/{{ c[0] }}" class="submenu-trigger"><span class="mi-title-wrapper"><span class="mi-title">{{ c[1].title }}</span></span></a>
					<ul class="sub-menu">
					{% assign docs = c[1].docs | sort:"in_menu"  %}{% for doc in docs%}{% if doc.in_menu %}
						<li class="menu-item menu-item-type-post_type menu-item-object-page mi-depth-1 mi-without-description"><a href="{{ doc.url | prepend: site.baseurl}}" class="submenu-trigger"><span class="mi-title-wrapper"><span class="mi-title"> {{ doc.title }} </span></span></a></li>	
					{% endif %}{% endfor %}
					</ul>
					
					</li>
				{% endif %}{% endfor %}
				</ul> 
				<div class="clear"></div>
            </nav>
        </div>
		
</header>
