<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

	<!--Plugin Global Hide Admin Tool Bar Bruteforce Active-->
	<script type='text/javascript' src='/js/scripts.js'></script>
	<script type='text/javascript' src='/js/respond.min.js'></script>
	<script type='text/javascript' src='/js/jquery.hoverIntent.js'></script>
	<script type='text/javascript' src='/js/header.js'></script>
	<!--[if lt IE 9]>
		<script type="text/javascript" src="http://uaal.pfornes.es/wp-content/themes/converio/js/ie.js"></script>
	<![endif]-->
	{% include googleAnalytics.html %}
  </body>

</html>
